html {
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: transparent;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

.app-container {
  padding: 2rem;
  background-color: $bg;
}

.drag-wrapper {
  width: 100%;
  height: 100%;
  -webkit-app-region: drag;
  cursor: move;
  .drag-content {
    -webkit-app-region: no-drag
  }
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.no-focus {
  &:focus {
    box-shadow: none !important;
  }
}

.p-card {
  &.dialog-card {
    .p-card-title {
      margin-bottom: 0;
    }
    .dialog-card-title {
      margin: 0;
      padding-top: .2rem;
    }
  }
  .p-card-content {
    padding: 0;
  }
  .p-card-footer {
    .p-button {
      margin: 0 1rem;
    }
  }
}
